{% extends 'mtunes/basic.htm' %}
{% block title %}All Songs{% endblock %}

{% block body %}

{% if message %}
<script>
    Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: '{{ message }}',
        showConfirmButton: false,
        timer: 1500
    })
</script>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="/media/{{ song.image }}" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2 class="mt-4">{{ song.name }}</h2>
            <h5 class="mt-2">Category: {{ song.tags }}</h5>
            <h5>Movie: {{ song.movie }}</h5>
            <h5>Singer: {{ song.singer }}</h5>
            <audio controls class="mt-4">
                <source src="/media/{{ song.song }}" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <div class="mt-4">
                <div class="row">
                    <form action="/mtunes/watchlater" method="POST" class="mr-2">{% csrf_token %}
                        <input type="hidden" name="video_id" value="{{ song.song_id }}">
                        <button type="submit" class="btn btn-outline-danger">Add to Listen Later</button>
                    </form>
                    <a href="/media/{{ song.song }}" download class="btn btn-outline-danger">Download Song</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Music Player Section -->
<div class="fixed-bottom bg-dark p-3">
    <audio controls style="width: 100%;" class="text-white">
        <source src="/media/{{ song.song }}" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
</div>

{% endblock %}
